.container{
  display: table;
  vertical-align: middle;
}

.vertical-center-row{
  display: table-cell;
  vertical-align: middle;
}

.issue_cell{
  width: 250px;
}

#loader_image{
  position: absolute;
  top: 60px;
  left: 20px;
  height: 60px;
}

.card-wall {
    display: inline-flex;
    min-width: 1000px;
    width: auto !important;
    border: 2px #bbb;
    float: left;
    //overflow:auto;
}

.swim-lane {
    //display: inline-block;
    position: relative;
    float: left;
    width: 200px;
    height: 100%;
    border: 1px #bbb;
    margin-left: 2px;
    margin-right: 2px;
}

.swim-lane-title {
    float: left;
    width: 100%;
    text-align: center;
    //border: 2px #bbb;
    background-color: black;
    color: white;
}

.swim-lane-plus {
    float: right;
    width: 20%;
    text-align: center;
    background-color: black;
    color: white;
}

.my-list-group {
    height: 75px;
}

.card {
    float: left;
    min-height: 50px;
    width: 100%;
    border: 1px solid #bbb;
    margin-bottom: 2px;
}

.card-title {
    float: left;
    min-height: 10px;
    width: 100%;
    font-size: 12px;
    //text-align: center;
    background-color: grey;
    color: black;
}

.card-title-bar {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    padding-left: 15px;
    padding-right: 25px;
}

.card-body {
    float: left;
    width: 100%;
    font-size: 9px;
    text-align: left;
}