.container{
  display: table;
  vertical-align: middle;
}

.vertical-center-row{
  display: table-cell;
  vertical-align: middle;
}

.issue_cell{
  width: 250px;
}

#loader_image{
  position: relative;
  top: 10px;
  left: 50px;
  height: 60px;
}
