.container{
  display: table;
  vertical-align: middle;
}

.vertical-center-row{
  display: table-cell;
  vertical-align: middle;
}

.issue_cell{
  width: 250px;
}

#loader_image{
  position: absolute;
  top: 60px;
  left: 20px;
  height: 60px;
}

.card-wall {
    display: inline-flex;
    min-width: 1000px;
    width: auto !important;
    border: 2px #bbb;
    float: left;
    //overflow:auto;
}

.swim-lane {
    //display: inline-block;
    position: relative;
    float: left;
    width: 200px;
    height: 100%;
    border: 1px #bbb;
    margin-left: 2px;
    margin-right: 2px;
}

.swim-lane-title {
    text-align: center;
    color: blue;
    border: 2px #bbb;
    background-color: black;
    color:white;
}

.my-list-group {
    height: 75px;
}

.my-list-group-item {
    height: 75px;
    width: 100%;
    border: 1px solid #bbb;
    margin-bottom: 2px;
}