{% extends "base.html" %}
{% block content %}
    <h2>Github Card Wall</h2>
    <table>
    <tr>
    {% for label, issue_list in issues_dict.iteritems() %}
      <td>
        <table class="table table-bordered">
        <tr class="info"><th colspan="3">{{ label }}</th></tr>
        </table>
        {% for issue in issue_list %}
          <table class="table table-striped">
            <tr><td>Title: {{ issue.title }}</td></tr>
            <tr><td>Body: {{ issue.body }}</td></tr>
            <tr><td>Repo: {{ issue.repository.name }}</td></tr>
          </table>
        {% endfor %}
      </td>
    {% endfor %}
    </tr>
    </table>
{% endblock %}
