{% extends "base.html" %}
{% block content %}
  <h3>{{ project_name }}</h3>
    <div id="card-wall">
        {% for label in label_list %}
            <div style="width:25%; float=left">{{ label }}
            {% if issues_dict.get(label) %}
                <ul id="{{ label }}" class="list-group">
                    {% for issue in issues_dict.get(label) %}
                        <li id="{{ issue.id }}" data-repo="{{ issue.repository.name }}"
                            data-label="{{ label }}" data-number="{{ issue.number }}" class="list-group-item">
                            [{{ issue.repository.name }}] #{{ issue.number }}-{{ issue.title }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block js_block %}
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $(document).ready(function () {
            GithubCardWall.cardwallModule.perform();
        });
    </script>
{% endblock %}
