{% extends "base.html" %}
{% block content %}

  <div class="row">
    <div class="col-lg-6 center-block">
      <div class="well bs-component">
        <form class="form-horizontal" method="POST" action="{{ url_for("new_project") }}">

            <div class="form-group">
              {{ form.name.label(class="col-lg-2 control-label") }}
              <div class="col-lg-10">
                {{ form.name(class="form-control") }}
                {% if form.name.errors %}
                <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              {{ form.repositories.label(class="col-lg-2 control-label") }}
              <div class="col-lg-10">
                {{ form.repositories(class="form-control") }}
                {% if form.repositories.errors %}
                <ul class="errors">{% for error in form.repositories.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>

        </form>
      </div>
    </div>
  </div>

{% endblock %}
