{% extends "base.html" %}
{% block content %}
  <div class="col-md-6">
    <h3>Order labels for project: {{ project.name }}</h3>
    <ul id="label_order_list" class="list-group">
      {% for label in project.labels %}
      <li id="{{ label.id }}" class="list-group-item-info list-group-item">
        {{ label.name }}
      </li>
      {% endfor %}
    </ul>
    <div>
        <input id="save_label_order" type="button" class="btn btn-primary" value="Save"/>
    </div>
  </div>

{% endblock %}

{% block js_block %}
    $(document).ready(function () {
        GithubCardWall.labelorderModule.init();
    });
{% endblock %}
